 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<link href=”index.css” rel=”stylesheet” type=”text/css”>

<div class="jumbotron text-center">
  <h1 class="main_title">Giacomo Zara</h1>
  <p class="main_title">Data Science student at the University of Trento</p>
</div>

